<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de Datos</h1>
    <form method="post">
        <label for="edad">Edad:</label>
        <input type="number" name="edad" required><br>

        <label for="diabetes">Diabetes:</label>
        <input type="text" name="diabetes" required><br>

        <label for="hospitalizacion">Hospitalización:</label>
        <input type="text" name="hospitalizacion" required><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>

